.navBar .nav {
  background-color: var(--main-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: stretch;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
}

.navBar .nav .siteTitle {
  font-size: 3rem;
  font-family: var(--main-font);
  font-weight: 800;
}

.navBar .nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.25rem;
}

.navBar .nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0.25rem;
  font-family: var(--main-font);
  font-weight: 500;
}

.navBar .nav li:hover {
  background-color: #777;
}
