body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-color:#27445D;
  --secondary-color: #EFE9D5;
  --accent-color: #497D74;
  --main-font: "Manrope";
}