.recent .recipe-grid{
    height: 500px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
  }

.recent .wrapper {
    margin: 4rem 0 rem;
}

.recent .wrapper h3 {
    display: flex;
    justify-content: center;
    color: black;
    font-style: italic;
    font-family: 'Romie';
    font-weight: 300;
    font-size: 35px;
}