.recent .recipe-grid{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /*Keeps it so that we can adjust how many cols in a row based on how wide the window is */
    padding-left: 10%;
    padding-right: 10%;
    gap: 2em;
  }

.recent .wrapper {
    margin: 4rem 0 rem;
}

.recent .wrapper h3 {
    display: flex;
    justify-content: center;
    color: black;
    font-style: italic;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 3rem;
}