.recipeCard {
  background-color: white;
  justify-content: center;
}

.recipeCard .header {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.recipeCard .body h5 {
  color: #a94a4a;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: "Inter";
}
.recipeCard .body h4 {
  color: black;
  font-style: italic;
  font-family: "Romie";
  font-weight: 300;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.recipeCard img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5em;
}
