.newest {
  display: flex;
  background-color: var(--secondary-color);
  position: relative;
  flex-wrap: wrap;
}

.newest .image-wrapper {
  width: auto;
  position: relative;
  height: 800px;
}

.newest img {
  display: block; /* This fixes the gap underneath the image */
  width: 100%;
  height: 100%;
}

.newest .description-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

.newest .description-wrapper h4 {
  color: black;
  font-family: var(--secondary-font);
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 5px;
}

.newest .description-wrapper h1 {
  color: var(--main-color);
  font-size: 3.5rem;
  font-family: var(--main-font);
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 1rem;
}

.newest .description-wrapper .description {
  color: black;
  font-family: var(--secondary-font);
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

@media screen and (max-width: 1600px) {
  .newest .image-wrapper {
    width: 40%;
    align-self: stretch;
    position: relative;
    height: auto;
  }

  .newest .description-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin: 2rem 6rem; */
    width: 50%;
  }
}

@media screen and (max-width: 951px) {
  .newest .image-wrapper {
    width: 100%;
    align-self: stretch;
    position: relative;
    height: auto;
  }

  .newest .description-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin: 2rem 6rem; */
    width: 100%;
  }
}
