.newest {
  display: flex;
  background-color: var(--secondary-color);
  position: relative;
  flex-wrap: wrap;
  gap: 30px;
}

.newest .image-wrapper {
  width: 43.75%;
}
.newest img {
  display: block; /* This fixes the gap underneath the image */
  width: 100%;
}

.newest .description-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 43.75% - 30px);
}

.newest .description-wrapper h4 {
  color: black;
  font-style: italic;
  font-family: "Romie";
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 5px;
}

.newest .description-wrapper h1 {
  color: var(--main-color);
  font-size: 2rem;
  font-family: var(--main-font);
  font-weight: 800;
  margin-top: 5px;
}
