.recipe .recipeWrapper {
    display: flex;
    margin-top: 1rem;
}

.recipe .navButton {
    color: #313131;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    font-weight: 600;
    background: white;

}

.recipe .info {
    margin-left: 10rem;
    margin-top: 4rem;
}